body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

select {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
}

#crypto-stats p,
#deviation-data p {
    font-size: 18px;
    color: #333;
}
