body {
    background-color: #f4f4f9;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    max-width: 800px;
    margin-top: 50px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 40px;
}

.card {
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.card-header {
    background-color: #365575;
    color: white;
    padding: 15px;
    border-radius: 10px 10px 0 0;
    font-weight: bold;
}

.card-body {
    padding: 25px;
}

button {
    border-radius: 25px;
    font-size: 1rem;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background-color: #365575;
    color: white;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #365575;
}
.btn {
    border-radius: 25px;
    font-size: 1rem;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background-color: #365575;
    color: white;
    transition: background-color 0.3s;
}

.btn {
    background-color: #365575;
}

.btn-danger {
    background-color: #dc3545;
}

.btn-danger:hover {
    background-color: #c82333;
}

.card-footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 10px;
    font-size: 1rem;
    color: #6c757d;
}

#toggleRawStats, #toggleRawDeviation {
    text-decoration: underline;
    color: #4977a5;
    cursor: pointer;
    font-weight: bold;
}

#toggleRawStats:hover, #toggleRawDeviation:hover {
    color: whitesmoke;
    text-decoration: underline;
}

pre {
    background-color: #e9ecef;
    padding: 15px;
    border-radius: 5px;
    color: #333;
    max-height: 300px;
    overflow-y: auto;
    margin-top: 15px;
}

.alert-info {
    background-color: #17a2b8;
    color: #fff;
    font-size: 1.1rem;
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
}

select {
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    margin-top: 15px;
}

code {
    background-color: #f9f9f9;
    padding: 5px;
    border-radius: 3px;
    font-size: 1rem;
    display: inline-block;
    margin-right: 5px;
}